/* Style Sheet for the website */
@import url(http://fonts.googleapis.com/css?family=Bungee+Inline);
@import url(http://fonts.googleapis.com/css?family=Rubik);
html
{
	background-color:#606060 ;
	background-image: url('film_Roll_background.jpg'),  url('film_Roll_background.jpg');
	background-repeat: repeat-y;
  	background-position: left center, right center;
}

div.header
{
	background-color:#3c94e6;
	border: 1px solid black;
	min-width:600px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	padding-left:20px;

}	 

div.header h1
{
	font-family: 'Bungee Inline';
	
	
}
div.header h3
{
	
	font-family: 'Bungee Inline';  
	\font-style:italic;
}

div.search
{
	text-align: right;
	padding-bottom:10px;
	padding-right: 50px;
}

.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width */
input[type=text]:focus {
    width: 30%;
}

ul.menu
{
	width:62%;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0px;
	padding-top: 10px;
	padding-bottom:7px; 
	
}
ul.menu li
{
	
	display:inline; /* displays the menu inline horiziontally*/
}

ul.menu li a
{
	background-color:black;
	color:white;
	padding: 10px 20px;
	text-decoration: none;
	font-family: 'Rubik';
	
}
ul.menu li a:hover
{
	background-color:#2479c7; /* color of menu links when hovering over */
}

ul.menu li a.active {
    background-color: #1a3854; /* Add a color to the "active/current" link */
    color: white;
}

body
{	background: #404040;
	background-image: url('film_Roll_background.jpg'),  url('film_Roll_background.jpg');
	background-repeat: repeat-y;
  	background-position: left center, right center;
	margin: 0px 40px 0px 40px;
	background-color:#606060 ;
	min-width: 600px;
	font-family: 'Rubik';
	
}

div.body
{	
	background-color:#FFFFFF;
	border: 1px solid black;
	text-align: left;
	clear:both;
	width:62%;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0px;
	padding: 5px 10px;
	word-wrap:break-word;
	font-family: 'Rubik';
	
}

div.footer
{
	background-color:black;
	width:62%;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0px;
	border:1px solid black;
	color:white;
	padding: 5px 10px;
	font-family: 'Rubik';
}

/* The add movie Modal (background) [in movies.php] */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: 'Rubik';
}

  /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #3c94e6;
    color: white;
    font-family: 'Rubik';
}

/* Modal Body */
.modal-body {padding: 2px 16px;}



/* Modal Content */
.modal-content {
    font-family: 'Rubik';
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 65%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* end of add movie modal window in movies.php */

